{% extends 'allianceauth/base.html' %}
{% load i18n %}

{% block page_title %}{% translate "wardec" %}{% endblock %}

{% block content %}
    <div class="allianceauth-wardec-plugin">
        <h1 class="page-header text-center">{% translate "wardec" %}</h1>

        {% block details %}{% endblock %}
    </div>
{% endblock %}
